<h2>Ajuda</h2>
<p>
  Escrever aqui o texto de ajuda. Escrever aqui o texto de ajuda.
</p>
<ul>
  <li><a href="<%= url('/modelo-exemplo.odt') %>">Exemplo de modelo</a></li>
  <li><a href="<%= url('/dados-exemplo.xls') %>">Exemplo de dados</a></li>
</ul>
<p>
  Escrever aqui o texto de ajuda. Escrever aqui o texto de ajuda.
</p>