<html>
  <head>
    <title>Gerador de Certificados</title>

    <style type="text/css">
      #footer { font-size: 12px; }
      #exemplos {
        border: 1px dashed #999;
        padding: 10px;
        margin-left: 10px;
        border-radius: 5px;
        width:250px;
        list-style: square inside;
      }
      a { color: orange; }
    </style>
  </head>

  <body>
    <h1>Gerador de certificados</h1>

    <ul id="exemplos">
      <li>Veja um <a href="<%= url('/modelo-exemplo.odt') %>">exemplo de modelo</a></li>
      <li>Veja um <a href="<%= url('/dados-exemplo.xls') %>">exemplo dados</a></li>
    </ul>

    <div id="footer">
      <p>Desenvolvido por <a href="http://hugomaiavieira.com">Hugo Maia Vieira</a></p>
    </div>
  </body>
</html>