<form class='form-horizontal' action='/' method='POST' enctype='multipart/form-data'>
  <fieldset>
    <legend>Gerar certificado</legend>
    <div class='control-group'>
      <label class='control-label' for='variaveis'>Variáveis</label>
      <div class='controls'>
        <input type='text' name='variaveis' class="span4">
        <p class='help-block'>Digite as variáveis separadas por espaço</p>
      </div>
    </div>

    <div class='control-group'>
      <label class='control-label' for='modelo'>Modelo</label>
      <div class='controls'>
        <input type='file' name='modelo'>
        <p class='help-block'>Arquivo modelo do certificado (.odt)</p>
      </div>
    </div>

    <div class='control-group'>
      <label class='control-label' for='dados'>Dados</label>
      <div class='controls'>
        <input type='file' name='dados'>
        <p class='help-block'>Arquivo da tabela com os dados (.xls)</p>
      </div>
    </div>

    <div class='control-group'>
      <label class='control-label' for='nome'>Nome</label>
      <div class='controls'>
        <input type='text' name='nome'>
        <p class='help-block'>Nome do arquivo que será gerado (.odt)</p>
      </div>
    </div>

    <div class='form-actions'>
      <button type='submit' class='btn btn-large btn-primary'>Enviar</button>
    </div>
  </fieldset>
</form>